:root {
    --main-bg-color: #f2f2f2;
    --main-fg-color: #685454;
    --highlight-color: #ea8a8a;
    --lowlight-color: #ebd5d5;
    --disabled-color: #c9c9c9;
}

.title {
    margin: 0 -0.35em 0 0;
    padding: 1em 0;
    font-weight: lighter;
    letter-spacing: 0.35em;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    margin: 0;
    padding: 0;
    
    font-family: helveticaneue, helvetica, arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.2em 0.4em 0.2em 0.2em;
}

header h1 {
    font-weight: lighter;
    margin: 0;
}

a {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--main-fg-color);
}

.fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.padded {
    padding: 1em;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    gap: 1em;
}

.form-grid {
    display: grid;
    grid-template-columns: fit-content(10%) auto;
    column-gap: 0.4em;
    row-gap: 1em;
    white-space: nowrap;
}

input {
    background: none;
    border: none;
    outline: none;

    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    
    font-family: helveticaneue, helvetica, arial, sans-serif;
}

input:not([type='submit']) {    
    border-bottom: solid 1px var(--main-fg-color);
}

input:invalid {
    border-color: var(--highlight-color);
}

.button {
    border: solid 1px var(--main-fg-color);
    min-width: 6em;
    padding: 1em;
    text-align: center;
    cursor: pointer;
}

.button:hover, .button:active, .button:focus {
    background-color: var(--lowlight-color);
}

.button:disabled {
    color: var(--disabled-color);
    background-color: var(--main-bg-color);
    border-color: var(--disabled-color);
}

.alert {
    visibility: hidden;
    color: var(--highlight-color);
    margin: 0.5em;
    box-shadow: var(--lowlight-color) 2px 2px 8px 3px;

    animation: fade 6s linear;
}

@keyframes fade {
    0%,100% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        opacity: 0;
        visibility: hidden;
    }
    3%,80% {
        opacity: 1;
        visibility: visible;
    }
}