<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Static.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ range .Static.Scripts }}
        <script src="{{ $.Static.PathPrefix }}/{{ . }}" type="application/javascript"></script>
        {{ end }}
        {{ range .Static.CSS }}
        <link rel="stylesheet" href="{{ $.Static.PathPrefix }}/{{ . }}">
        {{ end }}
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {{- if .Static.ShowHeaders }}
        {{ block "components.header" . }}{{ end }}
        {{- end }}
        {{ block "page" .Dynamic }}{{ end }}
        {{- if .Static.ShowHeaders }}
        {{ block "components.footer" . }}{{ end }}
        {{- end }}
    </body>
</html>