:root {
    --main-bg-color: #f2f2f2;
    --main-fg-color: #685454;
    --highlight-color: #ea8a8a;
    --lowlight-color: #ebd5d5;
}

h1 {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    margin: 0;
    padding: 0;
}

.control {
    padding: 1em;
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
}